<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Groceries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Your Groceries</h1>
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <h2>Lettuce Qty: 1</h2>
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="checkbox"></ion-icon>
          Done
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <h2>Apples Qty: 6</h2>
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="checkbox"></ion-icon>
          Done
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <h2>Peppers Qty: 4</h2>
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="checkbox"></ion-icon>
          Done
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <h2>Bread Qty: 1</h2>
      </ion-item>
      <ion-item-options>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="checkbox"></ion-icon>
          Done
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  
</ion-content>
